<div class="card-columns mt-5 animated fadeIn">
  <div class="card" *ngFor="let item of items">
    <img [src]="item.images | noimage" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <h5 class="card-text">
        <span class="badge badge-primary" *ngFor="let artist of item.artists">{{
          artist.name
        }}</span>
      </h5>
      <!-- <p class="card-text">
        <small class="text-muted">{{ item.release_date }}</small>
      </p> -->
    </div>
  </div>
</div>
